@media screen and (max-width: 600px) {
    .section-width {
        padding: 15px 15px 25px 15px;
    }

    .about {
        padding: 15px 15px 25px 15px;
    }

}

@media screen and (max-width: 550px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .img-cyrcle {
        width: 100px;
        height: 100px;
    }

    header .img-cyrcle .forimg {
        width: 89px;
        height: 88px;
        position: relative;
        top: -1px;
        left: -1px;
    }

    header .name-prof .line-box {
        height: 77px;
    }

    .about .profile .cyrcle-bar {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .about .profile {
        margin-bottom: 15px;
    }

    .timeline li {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 500px) {
    .section-info {
        flex-direction: column;

    }

    .section-width {
        border: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 15px 0px 25px 5px;
    }

    .section-width .logo {
        position: relative;
        top: 35%;
    }

    .section-info .contact,
    .section-info .contact-info,
    .section-info .software {
        width: 95%;
    }

    .about {
        width: 100%;
    }

    header .name-prof {
        width: 100%;
        justify-content: space-evenly;
    }

    header .name-prof .name h1 {
        font-size: 30px;
    }

    header .name-prof .profesion h1 {
        font-size: 30px;
    }

    header .name-prof .line-box {
        height: 60px;
    }
}