* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Anton';
    src: url(./font/Anton-Regular.ttf);
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(./font/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(./font/GOTHAM-BOLD.TTF);
}

@font-face {
    font-family: 'Gotham-Light';
    src: url(./font/Gotham-Light.otf);
}



header {
    background-color: #292929;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

header .img-cyrcle {
    border: 2px solid white;
    border-radius: 50%;
    margin: 20px;
    padding: 5px;

}

header .img-cyrcle .forimg {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(2, 72, 2, 0.241);
}

header .img-cyrcle .forimg img {
    width: 80%;
    height: 90%;
    object-fit: cover;
    position: relative;
    top: 20px;
    left: 10px;
}

header .name-prof {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 20px 0;
}

header .name-prof .name h1 {
    color: white;
    font-family: Anton;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: normal;
    text-transform: uppercase;
}

header .name-prof .name h1 span {
    background: linear-gradient(to right, #E0C3FC, #8EC5FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .name-prof .line-box {
    width: 11px;
    height: 67%;
    background-color: white;
}

header .name-prof .profesion h1 {
    color: white;
    font-family: Anton;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: normal;
    text-transform: uppercase;
}

header .name-prof .profesion h1 span {
    background: linear-gradient(to right, #FA709A, #FEE140);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-width {
    width: 38%;
    border-right: 1px solid white;
    padding: 20px 40px 35px 40px;
}

.about {
    width: 62%;
    padding: 20px 20px 35px 20px;
}

.section-info {
    background-color: #292929;
    /* padding: 20px 25px 35px 40px; */
    display: flex;
    position: relative;
    overflow: hidden;
}

.section-info::after {
    content: "";
    position: absolute;
    bottom: -67px;
    right: -60px;
    width: 129px;
    height: 170px;
    background-image: url(./img/esculture.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-info .contact,
.section-info .contact-info,
.section-info .software {
    padding: 0 0 30px 0;
}

.section-info .contact .title,
.section-info .contact-info .title,
.section-info .software .title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
}

.section-info .contact .title h3,
.section-info .contact-info .title h3,
.section-info .software .title h3 {
    color: white;
    font-family: Anton;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    font-style: normal;
    text-transform: uppercase;
}

.section-info .contact .for-p,
.section-info .contact-info .for-p {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.section-info .contact-info .for-p a {
    text-decoration: none;
    color: #c8c7c7;
}

.section-info .contact-info .for-p a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.75);
}

.section-info .software .for-p {
    padding-top: 15px;
}

.section-info .software .for-p .exp-bar {
    width: 100%;
    background-color: #F4EFFD33;
    height: 8px;
    border-radius: 4px;
}

.section-info .software .for-p .exp-bar .exp-fill {
    background: linear-gradient(to right, #84FAB0, #8FD3F4);
    height: 100%;
    border-radius: 4px;
}

.section-info .software .for-p .exp-bar .exp-fill.html {
    width: 70%;
}

.section-info .software .for-p .exp-bar .exp-fill.css {
    width: 50%;
}

.section-info .software .for-p .exp-bar .exp-fill.javascript {
    width: 30%;
}

.section-info .software .for-p .exp-bar .exp-fill.react {
    width: 10%;
}




.section-info .contact .for-p .title-p,
.section-info .contact-info .for-p .title-p,
.section-info .software .for-p .title-p {
    font-family: 'Gotham-Bold';
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 6px;
}

.section-info .contact .for-p .text-p,
.section-info .contact-info .for-p .text-p {
    font-family: 'Gotham-Light';
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: #c8c7c7;
    max-width: 100%;
}

.about .profile {
    margin-bottom: 40px;
}

.about .profile .title,
.about .work .title,
.about .education .title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 14px;
}

.about .profile .title h3,
.about .work .title h3,
.about .education .title h3 {
    color: white;
    font-family: Anton;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about .profile p {
    font-family: 'Gotham-Book';
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #c8c7c7;
    margin-bottom: 25px;
}

.about .profile .cyrcle-bar {
    display: flex;
    justify-content: space-between;
}

.about .profile .cyrcle-bar .circle {
    /* <<<<< აქ გამოვიყენე AI */
    --size: 70px;
    --thickness: 12px;
    --value: 75;
    color: white;
    font-family: 'Anton';
    font-size: 16px;
    font-weight: 400;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
    background:
        radial-gradient(closest-side, #292929 80%, transparent 0),
        conic-gradient(#84FAB0 calc(var(--value) * 1%), #F4EFFD33 0);
}

.about .profile .cyrcle-bar .circle::after {
    /* <<<<< აქ გამოვიყენე AI */
    content: calc(var(--value)) "%";
    position: absolute;
}


.about .work {}

.timeline {
    /* <<<<< აქ გამოვიყენე AI */
    list-style: none;
    position: relative;
    padding-left: 50px;
}

.timeline::after {
    /* <<<<< აქ გამოვიყენე AI */
    content: "";
    position: absolute;
    top: 6px;
    left: 85px;
    width: 1px;
    height: 90%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 0;
}

.timeline li {
    /* <<<<< აქ გამოვიყენე AI */
    position: relative;
    padding-left: 60px;
    margin-bottom: 65px;
    color: white;
    font-family: 'Anton';
    line-height: 90%;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;

}

.timeline li span {
    font-family: 'Gotham-Book';
    font-weight: 400;
    font-size: 10px;
    line-height: 90%;
    text-transform: uppercase;
    color: #c8c7c7;
}

.timeline li .circle {
    /* <<<<< აქ გამოვიყენე AI */
    position: absolute;
    left: 30px;
    top: 6px;
    width: 11px;
    height: 11px;
    background: white;
    border-radius: 50%;
    z-index: 1;
}

.timeline li::before {
    /* <<<<< აქ გამოვიყენე AI */
    content: attr(data-year);
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Gotham-Bold';
    font-size: 12px;
    color: black;
    background: white;
    padding: 10px 15px;
    white-space: nowrap;
    z-index: 2;
    clip-path: polygon(0.00% 15.41%,
            83.21% 16.66%,
            99.94% 48.16%,
            82.96% 82.16%,
            0.00% 82.16%,
            14.54% 49.16%);
    border-radius: 50%;

}